---
title: Getting Started
primary_navigation: false
position: 4
---

# Getting Started 

To create SceneVR scenes, the easiest way is to use our [electron powered](http://electron.atom.io/) web app that includes the SceneVR viewer, editor, server and sample scenes in one installer.

<table class="downloads">
  <tr>
    <th>Download</th>
    <th>File size</th>
    <th>Version</th>
    <th>Released</th>
  </tr>
  <tr>
    <td>
      <a href="/downloads/scenevr-<%= latest_version.number %>-setup.exe"><img src="/images/download.png" /> SceneVR for Windows</a><br />
      <small>Windows 7, 8 and 10</small>
    </td>
    <td>
      <%= nice_size(latest_version.win_size) %>
    </td>
    <td>
      <%= latest_version.number %>
    </td>
    <td>
      <%= latest_version.date.strftime('%d-%m-%Y') %>
    </td>
  </tr>

  <tr>
    <td>
      <a href="/downloads/scenevr-<%= latest_version.number %>-setup.dmg"><img src="/images/download.png" /> SceneVR for Mac OS X</a><br />
      <small>OS X 10.9+</small>
    </td>
    <td>
      <%= nice_size(latest_version.osx_size) %>
    </td>
    <td>
      <%= latest_version.number %>
    </td>
    <td>
      <%= latest_version.date.strftime('%d-%m-%Y') %>
    </td>
  </tr>
</table>

## Hard mode

    npm install -g scenevr

This will take a little while while the npm dependencies are downloaded. The `scenevr` executable will then be installed globally.

## Download sample scenes

[Download the sample scenes](https://github.com/scenevr/samples/archive/master.zip).

Unzip the sample scenes.

    cd / 
    unzip samples-master.zip 

Start the server:

    scenevr ./samples-master/

## Launch the webclient

Open the webclient and load the files served from your localhost:

&raquo; Open [client.scenevr.com](http://client.scenevr.com/?connect=localhost:8080/hello.xml) for local files

## Edit the scene files

Open any of the scene files in your editor and make changes. 

Whenever you save the file in your editor, the `scenevr` app **detects that the file has changed and reloads the scene** in your browser. The scene files have an `.xml` extension, but if your editor supports it, you should set your editor to html mode, since the scene file format is more like html. 

## Host your finished scenes

Once you have your scenes working well locally, host them for everyone to see at:

&raquo; [SceneVR hosting](//scenevr.hosting)

Hosting is free for creative commons licensed content.

## Promote your scenes

Post your scene (the url to view the scene in client.scenevr.com) to [/r/scenevr](//reddit.com/r/scenevr) and we will add a link to them from the home room.
